.aerombmiddleL {
  margin-bottom: 38px;
}
.aerombmiddleXL {
  margin-bottom: 100px;
}

.aerombmiddle {
  margin-bottom: 24px;
}

.aerocontainer {
  padding: 15px;
  background-color: var(--sky);
  display: flex;
}
.aerocontainerEffient {
  padding: 10px;
  background-color: var(--sky);
 
}
.aerocontainerSimple {
  padding: 15px;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
}
.aeromainImage{
  text-align: center;
  margin-left:50px;
}
.sectiondarkbg{
  background-color: var(--dark);
  height: auto;
  width: 100%;
}
@media (max-width: 992px) {
  /* .aerocontainer {
    flex-direction: column;
  } */
  .aeromainImage{
    margin-left:0px;
  }
}
.heading4dark{
  color: var(--secondary);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.heading2dark{
  color: var(--secondary);
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}